@import "react-datepicker/dist/react-datepicker.css";

*::-webkit-scrollbar {
  display: none;
}

.react-time-picker {
  background: #181e25 !important;
  color: #fbbf24 !important;
  border: 1.5px solid #fbbf24 !important;
  border-radius: 0.75rem !important;
}

.react-time-picker__inputGroup__input,
.react-time-picker__inputGroup__divider {
  color: #fbbf24 !important;
  background: transparent !important;
  border: none !important;
}

.react-time-picker__clear-button, .react-time-picker__clock-button {
  color: #fbbf24 !important;
  background: none !important;
  border: none !important;
}

.react-time-picker__clock {
  background-color: #181e25 !important;
  border-radius: 0.75rem !important;
}

.react-time-picker__button svg {
  stroke: #fbbf24 !important;
}

.react-time-picker__inputGroup input:focus {
  outline: 2px solid #fde68a !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.7s cubic-bezier(0.4,0,0.2,1) both;
}
